body{
    display: flex;
    margin: 0;
    justify-content: center;

    background-color: rgb(209, 0, 0);
    font-family: sans-serif;
}

h1, .container{
    text-align: center;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 25px;
}
ul{
    padding: 0px;
}
.container:hover img{
    transform: scale(1.5);
    
}
.pokedex{
    display: grid;
    grid-template-columns: repeat(4, 175px);
    padding: 0px;
    gap: 10px;
}
